body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img {
  padding: 1rem;
}
.small {
	height: 300px;
	width: 300px;
}

.left {
	float: left;
}

.right{
	float:right;
}


